// Normally mainpage styles
 
 /*----------header----------*/

.menu{
	@include povh('');
	box-shadow: 0 9px 84px rgba(255,255,255,.75);
	background:#fff;
	text-align: center;
	padding: 14px 0;
	background:url(../img/head_bg.jpg) repeat center top;
	li{
		display: inline-block;
		padding: 0 35px;
		vertical-align: middle;
		a{
			font-weight: bold;
			font-size: 16px;
			color: #000;
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}
 .header{
	@include povh('');
	padding-bottom: 27px;
	p{
		color: #000000;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
		line-height: 24px;
	}
 }
 	.logo{
 		display: block;
 		text-align: center; 
 		padding: 75px 0;
 		margin-top: 20%;
 	}
	
/*----------end-header----------*/	


/*----------main----------*/
 
 .main{
	@include povh('');
 }
 	.products{
 		text-align: center;
 		font-size: 0;
 		margin-top: 20%;
 	}
 		.product{
 			display: inline-block;
 			width: 25%;
 			vertical-align: top;
 			font-size: 8px;
 			padding-bottom: 40px;

 			figcaption{
 				padding: 0 0 10px 0;
 				font-size: 14px;
 				line-height: 17px;
 				width: 150px;
 				margin:0 auto;
 			}
 			h6{
 				padding: 8px 0 0 0;
 				font-size: 18px;
 			}
 		}
 	.video_wrap{
 		padding-bottom: 100px;
 	}
 		.video_block{
 			width: 630px;
 			margin: 0 auto;
 			position: relative;
 			.bx-pager{
				display: none;
 			}
 			.bx-controls-direction a{
 				width: 46px;
 				height: 153px;
 				background:url(../img/slider_arrow.png) no-repeat center;
 				position: absolute;
 				top: 50%;
 				margin-top: -75px;
 				left: -105px;
 				@include hide-text;
 				&.bx-next{
					left: auto;
					right: -105px;
					@include mirror_flip;
 				}
 			}
 		}
 			.video_link{
 				margin: 0 auto;
 				margin-top: 24px;
 				display: block;
 				width: 609px;
 			}

 	.map{
 		padding-bottom: 55px;
 		iframe{
 			width: 100% !important;
 		}
 		h2{
 			color: #e80e77;
 			background:url(../img/title_item1.png) no-repeat bottom center;
 		}
 		nav{
 			width: 615px;
 			margin: 36px auto;
 			text-align: center;
 			a{
 				text-decoration: none;
 			}
 		}

 	}
 		.find{
 			margin: 0 auto;
 			text-align: center;
 			font-size: 18px;
 			color: #ffffff;
 			a{
 				width: 366px;
 			}
 		}
	
	.contact_form{
		text-align: center;
		padding-bottom: 69px;
		form{
			div{
				padding-bottom: 22px;
			}
			.button{
				width: 347px;
				height: 47px;
				font-size: 18px;
				background:#fffee3;
				text-transform: uppercase;
			}
			textarea{
				height: 160px;
				padding-top: 10px;
			}
		}
		h2{
			background:url(../img/title_item3.png) no-repeat bottom center;
			color: #3a7a9b;
			margin-top: 6%;
		}
	}

	.reviews_wrap{
		padding-bottom: 45px;
		
		h2{
			margin-top: 10%;
			color: #fcb525;
 			background:url(../img/title_item2.png) no-repeat bottom center;
		}
		.container{

		}
	}
		.reviews_block{
			padding-bottom: 10px;
			figure{
				float: left;
				width: 25%;
				margin-bottom: 30px;
				figcaption{
					text-align: center;
					font-size: 12px;
					color: #fff;
					padding: 10px 0 0 0;
				}
			}
		}
/*----------end main----------*/	

	
/*----------footer----------*/
 
 .footer{
	@include povh('');
	padding: 45px 0;
	color: #fff;
	font-size: 121px;
	text-transform: uppercase;
	text-align: center;
	background:url(../img/foot_bg.jpg) repeat center;
	img{
		display: block;
		margin: 20% auto;
		margin-bottom: 0;
	}
 }

/*----------end footer----------*/

/*----------modal----------*/
.modal{
	form{
		padding: 43px 40px;
		padding-bottom: 23px;
		div{
			padding-bottom: 17px;
			text-align: center;
			input{
				border-width: 1px;
				height: 41px;
			}
			.button{
				width: 363px;
				height: 43px;
				border: 2px solid #000;
				background:#fff;
				color: #000;
				font-size: 18px;
				padding: 0;
				line-height: 43px;
				margin-top: 20px;
			}
		}
	}
}
/*----------end modal----------*/